<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table bordercolor="black" border="2" width="20%">
            <thead>
            <tr>
                <th> Mark </th>
                <th> Model </th>
                <th> Series </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td><span th:text="${car.mark}"> Mark </span></td>
                <td><span th:text="${car.model}"> Model </span></td>
                <td><span th:text="${car.series}"> Series </span></td>
            </tr>
            </tbody>
    </table>

</div>
</body>
</html>